---
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/portada_formulario__curso_SIES.png
intro:
  - excerpt: "En este curso aprenderemos las bases del pensamiento bayesiano y como aplicarlo en el software Rev Bayes"
feature_row:
  - image_path: /assets/images/RevBayes.png
    alt: "Bayes 101"
    title: "Bayes 101"
    excerpt: "Aprender los fundamentos del pensamiento bayesiano"
    url: "/assets/slides/bayes_101.pdf"
    btn_label: "Ir"
    btn_class: "btn--primary"
- image_path: /assets/images/RevBayes_model.jpg
    alt: "Modelo BiSSE"
    title: "Modelo BiSSE"
    excerpt: "Explicación modelo BiSSE"
    url: "/examples/"
    btn_label: "Ir"
    btn_class: "btn--primary"
  - image_path: /assets/images/frog.jpg
    alt: "BiSSE Dendrobatidae"
    title: "BiSSE Dendrobatidae"
    excerpt: "Código usado en la actividad práctica"
    url: "/basics/"
    btn_label: "Ir"
    btn_class: "btn--primary"
  
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
